* {
    margin: 0;
    box-sizing: border-box;
}

header.page-header {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 1rem;
}

.bg-red {
    background-color: #B11114;
}

.logo, .nav-link {
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem 1rem;
}
.logo {
    font-size: 36px;
}

.intro-sec {
    background-color: #880002;
    padding-top: 4.5rem;
    padding-bottom: 7rem;
}

.intro-sec h1, .intro-sec p {
    color: white;

}

.intro-sec h1 {
    font-size: 80px;
}
.flex {
    display: flex;
}
.container {
    max-width: 1313px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.jus-between {
    justify-content: space-between;
}

.gap-2rem {
    gap: 2rem;
}
.gap-4rem {
    gap: 4rem;
}
.testimonials-sec {
    background-color: #EE595C;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex-grow: 1;
}

.testimonial-card {
    padding: 2rem;
    background-color: #880002;
    flex-grow: 1;
    flex-basis: 33.3333334%;
    color: white;
    border-radius: 20px;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.page {
    /* viewport height */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.login-btn {
    background-color: transparent;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    padding: .5rem 1rem ;
    border: 1px solid white;
}

.login-btn:hover {
    background-color: white;
    color: #880002;
}

.modal-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.254);
    /* background-color: white; */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(16, 24, 64, 0.08);
    border-radius: 8px;
}
.modal header, .modal main, .modal footer {
    padding: 16px 20px;
}
.modal-close {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
}
.modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal main {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.modal input {
    border: 1px solid #D8DAE5;
    border-radius: 8px;
    padding: 12px 12px;
    line-height: normal;
}
.modal input:focus {
    outline-color: #B11114;
}
.modal input::placeholder {
    font-size: 14px;
    line-height: normal;
    color: rgba(42, 34, 79, 0.4);
}
.modal footer {
    display: flex;
    justify-content: end;
    gap: .5rem;
    border-top: 1px solid rgba(34, 34, 38, 0.08);
}
.modal .btn-cancel {
    border: 1px solid #B7B7B7;
    border-radius: 3px;
    background-color: transparent;
    padding:  8px 16px;
    height: 31px;
}
.modal .btn-login {
    background-color: rgba(26, 26, 28, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    width: 64px;
    height: 31px;
}
.modal-container1 {
    position: fixed;
    inset: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.modal1 {
    background-color: white;
    box-shadow: 0px 4px 8px 4px rgba(16, 24, 64, 0.08,);
    border-radius: 8px;
    width: 380px;
    height: 187px;
}
.heder1 {
    width: Fill (380px);
    display: flex;
    height: 56px;
    width: 380px;
    gap: 10rem;
    padding: 16px 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px 8px 0px 0px;
}
.sarlavha {
    width: 310px;
    height: 24px;
    gap: 12px;
}
.modal-close2 {
    border: none;
    background-color: transparent;
    height: 24px;
    width: 24px;    
}    
.maincha {
    width: 380px;
    height: 68px;
    padding: 16px 24px 16px 24px;
    gap: 16px;
}
.rere {
    width: 332px;
    height: 36px;
    color: rgba(0, 0, 0, 1);
}
.oyoq {
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 8px 8px;
    width: 380px;
    height: 63px;
    border-top: 1px solid rgba(34, 34, 38, 0.08);
    padding: 16px 20px 16px 20px;
    gap: 8px;    
}
.modal1 .btn-label {
    background-color: rgba(255, 255, 255, 1); 
   width: 64px;
   height: 31;
   border-radius: 3px;
   border: 1px solid rgba(183, 183, 183, 1);
   padding: 8px 16px;
   gap: 5px;    
}
.modal1 .btn-label2 {
    background-color: rgba(26, 26, 28, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    width: 64px;
    height: 31px;
}
.modal-container2 {
    position: fixed;
    inset: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
.modal2 {
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    width: 380px;
    height: 146px;
    padding: 16px 16px 16px 20px;
    gap: 10px;
}
.header2 {
    display: flex;
    position: fixed;
    width: 344px;
    height: 114px;
    gap: 12px;
}
.h3 {
    width: 344px;
    height: 24px;
    color: rgba(40, 42, 47, 1);
}
.matn {
    width: 344px;
    height: 22px;
    margin-top: 1rem;
}